Checks: '*,-readability-uppercase-literal-suffix,-hicpp-uppercase-literal-suffix,-google-readability-todo,-readability-identifier-length,-altera-unroll-loops,-altera-id-dependent-backward-branch,-altera-struct-pack-align,-cppcoreguidelines-avoid-non-const-global-variables,-bugprone-easily-swappable-parameters,-llvmlibc-callee-namespace'
